* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
span, a {
    display: inline-block;
}
.asosiy {
    max-width: 1400px;
    margin: 20px auto;
}
.bir {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.chap {
    width: 48%;
}
.ong {
    width: 48%;
}
.pic {
    width: 100%;
}
.h1 {
    width: 70%;
    color: rgb(26, 97, 151);
    font-size: 70px;
    margin-bottom: 20px;
}
.p {
    width: 68%;
    text-align: justify;
    font-size: 20px;
}
.bt {
    padding: 30px;
    margin: 0;
    margin-right: 0;
    border: none;
    color: rgb(26, 97, 151);
}
.b1 {
    margin-top: 20px;
}
.b1b {
    margin-top: 20px;
} 
.bn {
    padding: 30px;
    margin: 20px 30px;
    margin-left: 0;
    background-color: rgb(26, 97, 151);
    border: none;
    color: white;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 2%;
    margin-bottom: 50px;
}
.bx1 {
    width: 22%;
    border: 1px solid rgb(2, 67, 104);
    padding: 20px 10px;
}
.pcc {
    width: 100%;
}
.ip {
    text-align: justify;
    margin-top: 10px;
}
.ubox {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    column-gap: 2%;
    margin-bottom: 80px;
}
.ubx {
    width: 18%;
}
.up {
    margin-top: 10px;
    color: rgb(52, 49, 49);
}
.uh1 {
    margin-top: 10px;
}
.tort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.tchap {
    width: 48%;
}
.tpic1 {
    width: 48%;
}
.tpic {
    width: 100%;
}
.th1 {
    width: 70%;
    font-size: 45px;
    margin-bottom: 25px;
}
.tp {
    width: 65%;
    margin-bottom: 300px;
}
.besh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 243, 243);
    margin-bottom: 50px;
}
.bchap {
    width: 50%;
}
.bpic {
    width: 40%;
}
.bbtu {
    border: 1px solid black;
    border: none;
    background-color: rgb(0, 117, 117);
    padding: 8px 30px;
} 
.bbtu:hover {
    color: red;
    background-color: black;
}
.vc {
    color: white;
}
.bh1 {
    width: 65%;
    margin-bottom: 25px;
    font-size: 40px;
}
.olti {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 2%;
}
.oh1 {
    color: rgb(6, 126, 178);
    margin-bottom: 20px;
}
.op {
    margin-bottom: 10px;
}
.op1 {
    width: 55%;
    color: rgb(161, 159, 159);
}
.a {
    width: 18%;
}
.ob {
    width: 35%;
}
.oa1 {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}
.oa {
    text-decoration: none;
    color: black;
    line-height: 2.5;
}
.obtn {
    background-color: rgb(11, 151, 194);
    border: none;
    padding: 5px 15px;
    color: white;
}
.ap {
    color: rgb(187, 184, 184);
    margin-left: 20px;
    margin-bottom: 20px;
}
.aup {
    width: 70px;
    height: 70px;
    background-color: rgba(7, 7, 7, 0.784);
    color: tomato;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

@media(max-width:1400px){
    .tpic1, .h1, .tq, .tpic {
        width: 100%;
    }
    .bt {
        margin: 0;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:1300px){
    .bx1, .ubx {
        width: 20%;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:1200px){
    .bx1, .ubx {
        width: 30%;
        margin-bottom: 20px;
    }
    .ubx {
        width: 25%;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:1085px){
     .bn, .bt {
        width: 100%;
    }
    .bx1, .bx {
        width: 25%;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:1000px){
    .chap, .ong, .bchap, .bpic, .th1, .tp {
        width: 100%;
        text-align: center;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:800px){
    .chap, .ong, .bchap {
        width: 100%;
    }
    .bx1 {
        width: 45%;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
} 
@media(max-width:700px){
    .chap, .ob, .a, .p, .h1, .bx, .bpic, .bchap, .tpic1, .th1, .tp {
        width: 100%;
    }
    .bchap, .tchap {
        width: 100%;
    }
    .ubx {
        width:35%;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width:600px){
    .ubx, .bx1, .tq, .tpic .tchap, .tp, .tpic, .tpic1, .p, .h1 {
        width: 100%;
        text-align: center;
    }
    .tpic {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

}
@media(max-width:500px){
    .ubx, .bx1, .tq, .tpic .tchap, .p, .h1, .tp, .tpic, .tpic1, .ob, .a, .oh1, .op, .op1 {
        width: 100%;
        text-align: center;
    }
    .bh1 {
        width: 100%;
        text-align: center;
    }

}
@media(max-width:400px){
    .ubx, .tq, .tpic .tchap, .p, .h1, .tp, .tpic, .tpic1, .ob, .a, .oh1, .op, .op1 {
        width: 100%;
        text-align: center;
    }
    .bh1 {
        width: 100%;
        text-align: center;
    }

}
@media(max-width:300px){
    .ubx, .bx1, .tpic, .tpic1, .h1, .p, .bt, .bn {
        width: 100%;
        text-align: center;
    }
    .tchap {
        width: 100%;
        text-align: center;
    }

}